
.beer-image {
    margin-top: 20px;
    height: 270px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  .beer-item {
    flex: 1 0 30%;
    margin: 0 1% 3% 1%;
    border: 1px solid lightgrey;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 1px #000;
  
  }

  .beer-item-content {
    padding: 20px;
    
  } 